

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


nav {
    background-color: #A6AF94;
    //#b1b8a5;
    /* Background color for the navbar */
    color: #fff;
    /* Text color for links */
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 6rem;
    box-shadow: 5px 5px 5px rgba(51, 51, 51, 0.3);
    z-index: 2;

    @media (max-width: 680px) {
        height: 4rem;
    }

    .navLinks {
        @media (max-width: 680px) {
            display: none;
        }
    }

    .mobileMenu {
        display: none;
        margin: 2rem;
        cursor: pointer;
        font-size: 24px;
        color: #fff;

        @media (max-width: 680px) {
            display: block;
        }
    }
}

.dropdown-menu {
    display: none;
    position: fixed;
    z-index: 5;

    .menuLinks {
        font-family: Kumbh Sans;

        li {
            :hover {
                opacity: 0.8;
            }
        }
    }
}

.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 70px;
    left: 20px;
    background-color: #333;
    width: 200px;
    height: auto;
    z-index: 5;
    border-radius: 20px;

    @media (min-width: 680px) {
        display: none;
    }
}

.dropdown-menu li {
    padding: 10px 20px;
}

/* CSS for media query (when screen width is <= 680px) */
@media (max-width: 680px) {
    .mobile-menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        width: 100%;
        z-index: 1;
    }

    .nav-links.active li {
        margin: 0;
        text-align: center;
    }
}

.navLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    max-width: 1000px;
    margin: auto;
    font-family: Kumbh Sans;

}

li {
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;

    @media (max-width: 500px) {
        font-size: 12px;
    }
}





.container {
    position: relative;
    text-align: center;
    color: white;
    display: flex;

    .titles {
        margin-top: 7rem;
        height: 100%;
        position: absolute;
        /* Position the text absolutely within the container */
        top: 50%;
        /* Adjust the top position as needed */
        left: 50%;
        /* Adjust the left position as needed */
        transform: translate(-50%, -50%);
        color: #fff;
        /* Text color */
        padding: 20px;
        /* Add padding to the text for better visibility */
        color: white;

        h1 {
            font-family: Kasei Tokumin;
            font-size: 10rem;
            font-weight: 400;

            @media (max-width: 980px) {
                font-size: 5rem;
            }

            @media (max-width: 500px) {
                font-size: 3rem;
            }

        }

        h2,
        h3 {
            font-family: Kumbh Sans;
            font-weight: 400;
        }

        h2 {
            margin-bottom: -12px;
        }
    }
}





.painting {
    width: 100%;
    height: 60rem;
    display: inline-block;
    position: relative;

}

@media (max-width: 1000px) {
    .painting {
        height: 40rem;
    }
}

.painting img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}




.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 4rem;
    max-width: 1000px;
    margin: 2rem auto;

    @media (max-width: 480px) {
        padding: 1rem;
    }

    h2 {
        font-family: Kaisei Tomukin;
        font-weight: 400;
        font-size: 3.5em;
        margin-bottom: 8px;

        @media (max-width: 480px) {
            font-size: 2.5em;
        }
    }

    p {
        font-family: Kaisei Tomukin;
        font-size: 18px;
        max-width: 600px;
        font-weight: 100;
        color: #333;
        width: 80%;
        text-align: center;
        margin: auto;

    }
}


.appFeaturesBox {
    background: #D7DEC9;
    border-radius: 20px;
    margin-top: 100px;
    padding: 3rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;

    /* Responsive columns */
    max-width: 800px;
    /* Optional: Set a max width for the grid */
    margin: auto;
    /* Optional: Center the grid horizontally */
    text-align: left;
    
    @media (max-width: 600px) { /* Adjust the breakpoint as needed */
        grid-template-columns: 1fr; /* Set a single column layout */
        column-gap: 10px; /* Adjust the gap for smaller screens if needed */
      }

    .featureItem {
        display: flex;
        flex-direction: column;
        justify-content: start;
        p {
            margin-top: 20px;
            text-align: start;
            margin-top: 20px;
            transform: translateX(-12%);
            
        }
    }
}

.downloadBtn {
    border: none;
    border-radius: 20px;
    background: #8f9682;
    color: white;
    font-family: Kumbh Sans;
    font-size: 16px;
    width: 120px;
    padding: 0.5rem;
    margin: 1rem auto;
    transition: all 0.2s ease-in;


}

.downloadBtn:hover {
    background: #b4bf9f;
    cursor: pointer;
    transition: all 0.2s ease-in;

}

iframe {
    width: 100%;
    height: 40rem;
    display: block;
    position: relative;
    margin: auto;
    border-radius: 20px;

    @media (max-width: 480px) {
        height: 25rem;
    }
}


.table {
    width: 70%;
    margin: 2rem auto;
    border: 1px solid #333;
    display: inline;
    padding: 1rem;

    p {
        text-align: start;
        padding: 1rem 0;
    }
}

.teamSection {
    margin-top: 3rem;

    #projectManager {
        margin-left: auto;
        margin-right: auto;
    }

    .member {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1rem auto;



        .tooltip-container {
            position: relative;
            display: inline-block;
            margin: auto;
            cursor: pointer;
            touch-action: manipulation;
                        
            .tooltip {
                padding: 1rem;
                visibility: hidden;
                opacity: 0; /* Start with zero opacity */
                position: absolute;
                width: 120px;
                background-color: #333;
                text-align: center;
                padding: 5px 0;
                border-radius: 6px;
                z-index: 100;
                bottom: 110%; /* Position the tooltip above the image */
                left: 50%;
                transform: translateX(-50%);
                transition: opacity 0.4s, visibility 0.4s; /* Add a transition effect for opacity and visibility */

                p {
                    color: white;
                    font-size: 14px;
                    font-family: Kumbh Sans;
                }
            }

        }

        .tooltip-container:hover .tooltip,
        .tooltip-container.tapped .tooltip {
            opacity: 1;
            visibility: visible;
        }
        img {
            width: 100px;
            /* Set the desired width and height for your circular container */
            height: 100px;
            background-color: #ccc;
            /* Gray background color */
            border-radius: 50%;
            /* Make it a circle by setting border-radius to 50% */
            overflow: hidden;
            /* Hide any image overflow */
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
        }


        h3 {
            font-size: 25px;
            font-weight: 300;
        }

        p {
            color: #686868;
        }
    }


    .teamGrid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        /* Responsive columns */
        max-width: 800px;
        /* Optional: Set a max width for the grid */
        margin: auto;
        /* Optional: Center the grid horizontally */
    }
}


footer {
    background: #A6AF94;
    padding: 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
     p, a {
        margin: 1rem auto;
        font-size: 20px;
        text-align: center;
     }


     :nth-child(2) {
        color: white;
        font-family: Kumbh Sans;
        padding: 0.5rem;
        text-decoration: underline;
   
     }
}