


    p, a {
        font-size: 12px;
    }


html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


nav {
    background-color: #b1b8a5; /* Background color for the navbar */
    color: #fff; /* Text color for links */
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 6rem;
    box-shadow: 5px 5px 5px rgba(51, 51, 51, 0.3);
    z-index: 2;

    .navLinks {
        @media (max-width: 680px) {
            display:none;
        }
    }
 
    .mobileMenu {
        display: none;
        margin: 2rem;
        cursor: pointer;
        font-size: 24px;
        color: #fff;
        @media (max-width: 680px) {
            display: block;
        }
    }
}

.dropdown-menu {
    display: none;
    position: fixed;
    z-index: 5;
    .menuLinks {
        font-family: Kumbh Sans;
        li {
            :hover {
                opacity: 0.8;
            }
        }
    }
}

.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 70px;
    left: 20px;
    background-color: #333;
    width: 200px;
    height: auto;
    z-index: 5;
    border-radius:20px;
    @media (min-width: 680px) {
        display: none;
    }
}

.dropdown-menu li {
    padding: 10px 20px;
}

/* CSS for media query (when screen width is <= 680px) */
@media (max-width: 680px) {
    .mobile-menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        width: 100%;
        z-index: 1;
    }

    .nav-links.active li {
        margin: 0;
        text-align: center;
    }
}

.navLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    max-width: 1000px;
    margin: auto;
    font-family: Kumbh Sans;

}
li {
    text-decoration: none;
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
        
    @media (max-width: 500px){
        font-size: 12px;
    }
}





.container {
    position: relative;
    text-align: center;
    color: white;
    display: flex;

    .titles {
        margin-top: 6rem ;
        height: 100%;
        position: absolute; /* Position the text absolutely within the container */
        top: 50%; /* Adjust the top position as needed */
        left: 50%; /* Adjust the left position as needed */
        transform: translate(-50%, -50%);
        color: #fff; /* Text color */
        padding: 20px; /* Add padding to the text for better visibility */
        color: white;

        h1 {
            font-family: Kasei Tokumin;
            font-size: 10rem;
            font-weight: 400;
            @media (max-width: 980px){
               font-size: 5rem;
            }
            @media (max-width: 500px){
                font-size: 3rem;
             }
        
        }
        h2, h3 {
            font-family: Kumbh Sans;
            font-weight: 400;
        }
        h2 {
            margin-bottom: -12px;
        }
    }
}





.painting {
    width: 100%;
    height: 60rem;
    display: inline-block;
    position: relative;
    
}

@media (max-width: 1000px){
    .painting {
        height: 40rem;
    }
}
.painting img {
    height: 100%;
    width: 100%;
    object-fit:cover;
}




.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 4rem;
    max-width: 1000px;
    margin: 2rem auto;
    @media (max-width: 480px){
        padding:1rem;
    }
    h2 {
        font-family: Kaisei Tomukin;
        font-weight: 400;
        font-size: 3.5em;
        margin-bottom: 8px;
        @media (max-width: 480px) {
            font-size: 2.5em;
        }
    }
    p {
        font-family: Kaisei Tomukin;
        font-size: 18px;
        max-width: 600px;
        font-weight: 100;
        color:#333;
        width: 80%;
        text-align: center;
        margin: auto;
        
    }

    .appFeaturesBox {
        background:#D7DEC9;
        border-radius: 20px;
        height: 20rem;
        margin-top: 2rem;
    }
}